.all-orders {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 32px;
    max-width: 1135px;
    margin-left: auto;
    margin-bottom: 60px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-down(sm) {
      max-width: calc(100vw - 40px);
      margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
      grid-template-columns: 1fr;
    }
  }

  .prod {
    gap: 10px;

    .card__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
  }
}