.create-new{
  margin-bottom: 60px;

  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px 35px;
    max-width: 1135px;
    width: 100%;
    margin-left: auto;

    @include media-breakpoint-down(sm) {
      width: calc(100vw - 40px);
      margin-left: 0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      position: relative;

      .just-validate-error-label{
        position: absolute;
        top: 85px;
        font-size: clamp(14px, 2.5vw, 14px);
      }

      &:nth-child(2) {
        .just-validate-error-label{
          top: auto;
          bottom: -25px;
        }
      }
    }

    &__label {
      font-size: clamp(16px, 2.5vw, 20px);
      font-weight: 700;
      opacity: 0.7;
      margin-bottom: 5px;

      span {
        color: $orange;
      }
    }

    &__input, &__textarea {
      font-size: 16px;
      padding: 10px 15px 2px;
      border-radius: 10px;

      @include media-breakpoint-down(sm) {
        width: calc(100vw - 40px);
      }
    }

    &__textarea {
      resize: none;
      height: 250px;
      line-height: 1.5;
    }

    input[type='file']{
      background-color: $headerFooterBg;
    }

    &__btn {
      max-width: 400px;
      margin: 0 auto;
      padding: 17px 20px 5px
    }
  }
}