.users {
  margin-bottom: 60px;

  &__content {
    display: grid;
    gap: 20px;
    width: 100%;

    @include media-breakpoint-down(sm){
      max-width: calc(100vw - 40px);
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    &__img {
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
      overflow: hidden;
      aspect-ratio: 1/1;

      @include media-breakpoint-down(sm) {
        max-width: 100px;
        max-height: 100px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-size: clamp(20px, 2.5vw, 32px);
      margin-bottom: 15px;
    }

    &__all, &__succsesful, &__reg-date {
      font-size: clamp(14px, 2.5vw, 24px);
    }

    &__all {
      margin-bottom: 5px;
    }

    &__reg-date {
      margin-top: 15px;
    }
  }

  .user-card {
    display: grid;
    grid-template-columns: 470px 1fr;
    align-items: center;
    width: 100%;
    gap: 15px;
    background-color: $headerFooterBg;
    padding: 20px;
    border-radius: 20px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .operation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    &__btns {
      display: flex;
      align-items: center;
      gap: 15px;

      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }
    }

    &__btn {
      height: 70px;
    }

    .role {
      display: flex;
      align-items: center;
      gap: 15px;

      @include media-breakpoint-down(xs) {
        align-items: flex-start;
        gap: 5px;
        flex-direction: column;
      }

      form {
        display: flex;
        align-items: center;
        gap: 15px;

        @include media-breakpoint-down(xs) {
          align-items: flex-start;
          gap: 0;
          flex-direction: column;
          margin-left: 20px;
        }
      }

      &__radio {
        display: flex;
        margin-top: 10px;
        cursor: pointer;
        font-size: clamp(16px, 2.5vw, 20px);
        width: max-content;
      }

      p {
        margin-top: 5px;
        font-size: clamp(16px, 2.5vw, 20px);
        font-weight: 700;
      }
    }
  }
}