.become-volunteer {
  margin-top: 100px;

  @include media-breakpoint-down(sm) {
    margin-top: 63px;
  }

  &__title {
    font-size: clamp(24px,2.5vw, 48px);
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.4px;

    @include media-breakpoint-down(sm) {
      text-align: left;
      line-height: 1.4;
    }
  }

  .info {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include media-breakpoint-down(md){
      flex-direction: column;
      align-items: start;
      margin-top: 25px;
    }

    &__steps{
      display: flex;
      flex-direction: column;
      gap: 42px;

      @include media-breakpoint-down(md){
        gap: 15px;
      }
    }

    &__step {
      display: flex;
      align-items: center;
      gap: 25px;

      @include media-breakpoint-down(md){
        gap: 10px;
      }

      svg {
        width: 96px;
        height: 79px;

        @include media-breakpoint-down(md){
          width: 47px;
          height: 40px;
        }
      }

      p {
        font-size: clamp(20px, 2.5vw, 36px);
        margin-top: 15px;
        letter-spacing: 1.1px;
        width: 100%;

        @include media-breakpoint-down(sm){
          margin-top: 5px;
          letter-spacing: 0;
        }
      }
    }

    .about{
      max-width: 865px;
      padding: 45px 40px 40px;
      background-color: $headerFooterBg;
      border-radius: 20px;

      @include media-breakpoint-down(md){
        max-width: 100%;
        padding: 30px 20px;
      }

      &__title{
        font-size: clamp(16px, 2.5vw, 24px);
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.8px;
        margin-bottom: 42px;

        @include media-breakpoint-down(sm){
          line-height: 1.6;
          margin-bottom: 20px;
        }
      }

      &__text{
        font-size: clamp(14px, 2.5vw, 20px);
        line-height: 1.68;
        letter-spacing: 0.7px;
      }

      &__btns{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-top: 54px;

        @include media-breakpoint-down(xs){
          flex-direction: column;
          gap: 14px;
          margin-top: 38px;
        }
      }
    }
  }
}