.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 28px 20px 17px;
  text-align: center;
  color: $fontColorWhite;
  font-weight: 700;
  font-size: clamp(18px, 2.5vw, 24px);
  border-radius: 20px;
  letter-spacing: 1.35px;
  opacity: 0.85;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &_orange {
    background-color: $orange;
  }
}