.catalogue {
  margin-top: 50px;

  .filter {
    &__title {
      font-size: clamp(20px,2.5vw, 32px);
      font-weight: 700;
      letter-spacing: 1.2px;
      margin-bottom: 20px;
    }

    &__score, &__goal {
      margin-left: 40px;
      display: grid;
      grid-template-columns: 300px 500px;
      gap: 15px;
      margin-bottom: 20px;

      @include media-breakpoint-down(md){
        grid-template-columns: 300px auto;
      }

      @include media-breakpoint-down(sm){
        grid-template-columns: auto;
        margin-left: 15px;
      }
    }

    &__liable {
      font-size: clamp(14px, 2.5vw, 24px);
      letter-spacing: 1px;
    }

    &__list {
      display: flex;
      gap: 18px;
      position: relative;
      bottom: 7px;

      label {
        font-size: 22px;
        display: flex;
        position: relative;
        top: 2px;
        left: 8px;
        cursor: pointer;

        @include media-breakpoint-down(sm){
          font-size: 16px;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-top: -7px;
          margin-left: 3px;

          @include media-breakpoint-down(sm){
            width: 14px;
            height: 14px;
            margin-top: -4px;
          }
        }
      }

      &-item {
        display: flex;
        align-items: flex-end;
        gap: 7px;

        .custom-radio {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          border: 3px solid $progressBarBg;
          position: relative;
          left: -7px;
          bottom: 8px;

          @include media-breakpoint-down(sm){
            width: 14px;
            height: 14px;
            border: 2px solid $progressBarBg;
            bottom: 4px;
          }

          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $orange;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.4s ease-in-out;

            @include media-breakpoint-down(sm){
              width: 5px;
              height: 5px;
            }
          }
        }

        input[type='radio'] {
          width: 0;
          height: 0;
          opacity: 0;

          &:checked + .custom-radio::before {
            transform: translate(-50%, -50%) scale(1);
          }

          &:checked + .custom-radio {
            border-color: $orange;
          }
        }
      }
    }

    &__range {
      position: relative;

      @include media-breakpoint-down(sm){
        max-width: 500px;
      }

      input[type='range'] {
        width: 100%;
        appearance: none;
        height: 15px;
        border-radius: 10px;
        background-color: $progressBarBg;
        overflow: hidden;

        @include media-breakpoint-down(sm){
          height: 10px;
        }


        &::-webkit-slider-thumb {
          width: 25px;
          height: 15px;
          border-radius: 10px;
          background-color: $orange;
          box-shadow: -2515px 0 0 2500px $scrolTrack;
          appearance: none;

          @include media-breakpoint-down(sm){
            height: 10px;
            width: 15px;
            box-shadow: -305px 0 0 300px $scrolTrack;
          }
        }
      }

      .range-value{
        position: absolute;
        bottom: -25px;
        padding: 10px 10px 2px;
        background-color: $headerFooterBg;
        border-radius: 5px;
        left: var(--valRange);
        transform: translateX(calc(-1 * var(--valRange)));
        font-size: clamp(10px, 2.5vw, 14px);
        width: max-content;

        @include media-breakpoint-down(sm){
          bottom: -20px;
        }
      }
    }
  }

}