@import '../style';
@import '../catalogue/help-that-change';
@import '../catalogue/catalogue-filter';

.prod-list{
  margin: 65px 0;

  @include media-breakpoint-down(sm){
    margin: 40px 0;
  }

  &__content{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 40px 35px;

    @include media-breakpoint-down(lg){
      grid-template-columns:1fr 1fr 1fr;
    }

    @include media-breakpoint-down(md){
      gap: 25px 15px;
    }

    @include media-breakpoint-down(sm){
      grid-template-columns:1fr 1fr;
    }

    @include media-breakpoint-down(xs){
      grid-template-columns:1fr;
    }
  }
}