<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <a href="" class="footer__logo">
        <svg>
          <use href="#logo-footer"></use>
        </svg>
      </a>

      <div class="footer__menu menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="catalogue.html">Збори</a></li>
          <li class="menu__item"><a href="">Хочу бути волонтером</a></li>
          <li class="menu__item"><a href="">Новини</a></li>
          <li class="menu__item"><a href="">Про нас</a></li>
        </ul>
      </div>

      <div class="footer__contact contact">
        <div class="contact__title">Контакти</div>
        <a href="tel:+380507625507" class="contact__tel">Тел.: <span>+380 (50) 762-55-07</span></a>
        <a href="mailto:kindred.support@gmail.com" class="contact__mail">E-mail: <span>kindred.support@gmail.com</span></a>
      </div>
    </div>
  </div>

  <load ="/src/img/sprite.html" />
</footer>
