<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="src/scss/pages/{=$styles}.scss" />
  <link rel="preload" href="src/scss/style.scss" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  <title>{=$title}</title>
  <meta name="description" content="Онлайн-платформа для волонтерів, зборів, звітності та підтримки ЗСУ. Прозора та зручна система взаємодії.">
  <meta name="keywords" content="волонтерство, збір, благодійність, допомога, війна, ЗСУ, донат, Kindred, GitHub Pages">
</head>
