<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="header__logo" href="index.html">
        <svg>
          <use href="#logo"></use>
        </svg>
      </a>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="catalogue.html">Збори</a></li>
          <li class="menu__item"><a href="">Новини</a></li>
          <li class="menu__item"><a href="">Хочу бути волонтером</a></li>
          <li class="menu__item"><a href="">Про нас</a></li>
        </ul>
      </div>

      <div class="header__account">
        <svg>
          <use href="#account"></use>
        </svg>
      </div>

      <div class="burger__btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
