.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &_active {
    opacity: 1;
    visibility: visible;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }

  &__content {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: $background;
    border-radius: 35px;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      max-width: 400px;
    }
  }

  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;

    span {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 3px;
      background: $orange;

      &:first-child {
        rotate: 45deg;
      }

      &:last-child {
        rotate: -45deg;
      }
    }
  }

  &__title {
    font-size: clamp(24px, 2.5vw, 32px);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      padding: 0 50px
    }
  }

  &__stars {
    display: flex;
    gap: 20px;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      gap: 10px;
    }
  }

  &__star{
    width: 50px;
    height: 50px;

    @include media-breakpoint-down(sm) {
      width: 35px;
      height: 35px;
    }

    svg{
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 40px;
    padding: 20px 20px 10px !important;
  }
}

