$maxWidth: 1920px;
$minWidth: 320px;
$containerWidth: 1600px;

$md1: 1650;
$md2: 1420;
$md3: 1024;
$md4: 768;
$md5: 576;
$md6: 375;

$background: #F0F0F0;
$headerFooterBg: #ffffff;
$orange: #EF6622;
$progressBarBg: #D9D9D9;

$fontColorBlack: #000000;
$fontColorWhite: #ffffff;

$deliteBtnBg: #D74E4E;
$saveBtnBg: #EF8F22;
$closeBtnBg: #5BB848;

$logOutFontColor: #B70000;

$scrolBg: #DBDBDB;
$scrolTrack: #fb935f;