@import './config/media-breakpoints';
@import './config/fonts';
@import './config/reset';
@import './config/vars';

body {
  font-family: BoolTammudu, sans-serif;
  background-color: $background;
  color: $fontColorBlack;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $containerWidth;

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;

  &_one-product {
    overflow-x: visible;
  }
}

.page {
  flex: 1 1 auto;
  margin-top: 110px;

  @include media-breakpoint-down(sm) {
    margin-top: 70px;
  }
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background-color: $scrolBg;
}

::-webkit-scrollbar-thumb{
  background-color: $scrolTrack;
  border-radius: 8px;
  border: 4px solid $scrolBg;
}

@import "./components/header";
@import "./components/footer";
@import "./components/prod-card";
@import "./components/btn";
@import "./components/preloader";